#root {
  /** Main color palette */
  /* https://coolors.co/08090a-a7a2a9-f4f7f5-575a5e-222823 */
  --main-palette-color-1: hsl(210, 11%, 4%);
  --main-palette-color-2: hsl(283, 4%, 65%);
  --main-palette-color-3: hsl(140, 16%, 96%);
  --main-palette-color-4: hsl(214, 4%, 35%);
  --main-palette-color-5: hsl(130, 8%, 15%);

  /* color palette */
  --color-white-1: hsl(0, 0%, 100%);
  --color-white-2: hsl(240, 25%, 98%);
  --color-white-3: hsl(from var(--main-palette-color-3) h s calc(l -5%));

  --color-grey-1: hsl(0, 0%, 52%);
  --color-grey-2: hsl(0, 0%, 36%);

  --toolbar-background: var(--color-white-2);
  --toolbar-color: var()
}